SysBot.Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ItemGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PackageReference">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="TreatAsUsed" type="xs:boolean" />
                  </xs:sequence>
                  <xs:attribute name="Include" type="xs:string" use="required" />
                  <xs:attribute name="Version" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="PropertyGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="TargetFramework" type="xs:string" />
              <xs:element minOccurs="0" name="UserSecretsId" type="xs:string" />
              <xs:element minOccurs="0" name="DebugType" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="Condition" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Sdk" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>